.mat-mdc-card-header {
  height: 208px;
  justify-content: space-between;
  align-items: center;
}

.mat-mdc-card-sm-image {
  width: 100px;
  height: 124.4px;
  margin-top: 10px;
}

.mat-mdc-card-avatar {
  border-radius: 50px !important;
  height: 124.4px;
  width: 0 !important;
}

.input {
  background-color: #f4eeee;
  width: 90%;
  height: 65.93px;
  margin-left: 40px;
  margin-top: 10px;
  border: 1px solid #D9D9D9;
  border-radius: 9px;
  padding: 0 25px;
}

.resName {
  margin-left: 40px;
}

.image {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 73px;
  top: 12px;
  z-index: 99999;
  background-color: #fbfbfb;
  border-radius: 8px;
}

@media (max-width: 767px) {
  .mat-mdc-card-header {
    height: 100px;
    align-items: flex-start;
  }

  .mat-mdc-card-sm-image {
    width: 50px;
    height: 70px;
    margin-top: 0;
  }
  .mat-mdc-card-avatar {
    height: 57px !important;
  }
  .input {
    width: 80% !important;
    margin-left: 65px !important;
    height: 33.93px !important;
    margin-top: 0 !important;
  }
  .resName {
    margin-left: 67px;
    font-size: 13px;
  }
  .image {
    width: 15px;
    height: 15px;
    left: 36px;
    top: 0;
  }
  .select {
    padding: 0 12px;
  }
}
